@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Sans+JP:wght@100&family=Silkscreen&display=swap');

:root {
  --header-font: 'Montserrat', sans-serif;
}

body {
  overflow-y: scroll;
  overflow: overlay;
  background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #0b1b2c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0b1b2c;
}

.LandingContainer {
  height: 100vh;
  background-image: url('./images/parallaxbg.png');
  background-size: cover;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.landingHeader {
  position: relative;
  top: 35%;
  left: 10%;
  width: 80%;
  z-index: 1;
  text-align: center;
}

.text {
  font-family: var(--header-font);
  font-size: 10vw;
}

.aboutHeader {
  font-family: var(--header-font);
  font-size: 8vw;
  position: absolute;
  top: 110%;
  left: 10%;
  background-image: url(./images/parallaxbg.png);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.aboutText {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 140%;
  left: 10%;
  color: white;
}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 360px;
  background: #000;
}
.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: 0.5s;
}
.card:hover .image img {
  opacity: 0.5;
  transform: translateX(30%); /*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%; /*100%*/
  height: 100%;
  background-image: url(./images/parallaxbg.png);
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center .cardHeader {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center .cardHeader span {
  font-size: 14px;
  color: #262626;
}
.card .details .center .cardDescription {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
p {
  inline-size: 100%;
}
.card .details .center .cardUl {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.card .details .center .cardUl .cardLi {
  list-style: none;
  margin: 0 5px;
  float: left;
}
.card .details .center .cardUl .cardLi .cardBtn {
  display: block;
  background: #262626;
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  transform: 0.5s;
  border-radius: 20px;
}
.card .details .center .cardUl .cardLi .cardBtn:hover {
  background: #ff3636;
}

.contactHeader {
  font-family: var(--header-font);
  font-size: 8vw;
  position: absolute;
  top: 250%;
  left: 10%;
  background-image: url(./images/parallaxbg.png);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contactContainer {
  background-image: url(./images/wavesOpacity.svg);
  transform: scaleX(-1);
}

input,
span,
label,
textarea {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
  resize: none;
}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question,
textarea.question {
  font-size: 32px;
  font-weight: 300;
  border-radius: 2px;
  margin: 5px;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid orange;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: orange;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 32px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type='submit'] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type='submit']:hover {
  background: #eee;
}

input[type='submit']:active {
  background: #999;
}

input.question:valid ~ input[type='submit'],
textarea.question:valid ~ input[type='submit'] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type='submit'],
textarea.question:invalid ~ input[type='submit'] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
